@font-face {
  font-family: "IRANSansWeb";
  src: url("../src/assets/fonts/IRANSansWeb_Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "IRANSansWeb-Regular";
  src: url("../../fonts/IRANSansWeb/IRANSansWeb_Regular.ttf");
}
@font-face {
  font-family: "IRANSansWeb";
  src: url("../src/assets/fonts/IRANSansWeb_Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "IRANSansWeb-Light";
  src: url("../src/assets/fonts/IRANSansWeb_Light.ttf");
}
@font-face {
  font-family: "IRANSansWeb";
  src: url("../../fonts/IRANSansWeb/IRANSansWeb_UltraLight.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "IRANSansWeb-UltraLight";
  src: url("../src/assets/fonts/IRANSansWeb_UltraLight.ttf");
}
@font-face {
  font-family: "IRANSansWeb";
  src: url("../src/assets/fonts/IRANSansWeb_Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "IRANSansWeb-Medium";
  src: url("../src/assets/fonts/IRANSans_Medium.ttf");
}
@font-face {
  font-family: "IRANSansWeb";
  src: url("../src/assets/fonts/IRANSansWeb_Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "IRANSansWeb-Bold";
  src: url("../src/assets/fonts/IRANSansWeb_Bold.ttf");
}

* {
  font-family: "IRANSansWeb";
}

body {
  direction: rtl;
  text-align: right;
}
