.containerFooter {
  width: 100%;
}
section {
  width: 100%;
  display: inline-block;
  background: #333;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footerDistributed {
  background: #666;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: right;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}
.footerIcon {
  color: #ffffff !important;
  width: 35px;
  height: 35px;
  background-color: #33383b !important;
  margin: 10px !important;
}
.footerDistributed .footerLeft,
.footerDistributed .footerCenter,
.footerDistributed .footerRight {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footerDistributed .footerLeft {
  width: 40%;
}

/* The company logo */

.footerDistributed h3 {
  color: #ffffff;
  font: normal 36px "Open Sans", cursive;
  margin: 0;
}

.footerDistributed h3 span {
  color: lightseagreen;
}

/* Footer links */

.footerDistributed .footerLinks {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footerDistributed .footerLinks a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}
.footerDistributed .footerLinks a:hover {
  color: #8ab4f8;
}

.footerDistributed .footerCompanyName {
  color: #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footerDistributed .footerCenter {
  width: 35%;
}

.footerDistributed .footerCenter i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footerDistributed .footerCenter i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footerDistributed .footerCenter p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footerDistributed .footerCenter p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footerDistributed .footerCenter p a {
  color: lightseagreen;
  text-decoration: none;
}

.footerDistributed .footerLinks a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footerDistributed .footerLinks .link1:before {
  content: none;
}

/* Footer Right */

.footerDistributed .footerRight {
  width: 20%;
  margin-right: 20px;
}

.footerDistributed .footerCompanyAbout {
  text-align: right;
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footerDistributed .footerCompanyAbout span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 15px;
}

.footerDistributed .footerIcons {
  margin-top: 25px;
}

.footerDistributed .footerIcons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
  .footerDistributed {
    font: bold 14px sans-serif;
  }

  .footerDistributed .footerLeft,
  .footerDistributed .footerCenter,
  .footerDistributed .footerRight {
    display: block;
    width: 100%;
    margin-bottom: 40px;
  }

  .footerDistributed .footerCenter i {
    margin-left: 0;
  }
}
