* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
.text h5,
h3 {
  color: #ead106;
}}
/*  */

.container {
  width: 22%;
  margin: 1%;
  padding: 1%;
}
.card {
  width: 100%;
  background-color: #6c6868;
  border-radius: 12px;
  padding: 20px;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

.image img {
  margin-bottom: 20px;
  width: 100%;
}

.rating_reviews {
  display: flex;
  justify-content: space-between;
  color: #ead106;
  margin-top: 2%;
}

.rating_reviews p {
  font-size: 12px;
  margin-top: 8px;
  margin-left: 10px;
  font-weight: 600;
}

.rating_reviews p:nth-child(2) {
  color: rgb(21, 202, 15);
}

.rating {
  display: flex;
  flex-direction: row-reverse;
  float: left;
  width: 30px;
}

.rating > input {
  display: none;
}

.rating > label {
  position: relative;
  width: 14px;
  font-size: 19px;
  color: orange;
  cursor: pointer;
  transition: all 0.5s;
  margin-right: 2px;
}

.rating > label::before {
  content: "\2605";
  position: absolute;
  opacity: 0;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before {
  opacity: 1 !important;
}

.rating > input:checked ~ label:before {
  opacity: 1;
}

.rating:hover > input:checked ~ label:before {
  opacity: 0.4;
}

.quantity_gram {
  margin-top: 10px;
  height: 40px;
  width: 100%;
  background-color: rgb(147, 120, 67);
  border-radius: 14px;
  display: flex;
}

.quantity_gram span {
  height: 40px;
  width: 100%;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  font-weight: 800;
  color: #ebe8e1;
  cursor: pointer;
  transition: all 0.5s;
}

.quantity_gram span:hover {
  color: #000;
  font-size: 12px;
  background-color: #fedd9a;
}

.price {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.qty {
  display: flex;
  height: 40px;
  width: 90px;
  justify-content: center;
  align-items: center;
}

.qty p {
  padding: 0 11px;
  font-weight: 700;
  margin-top: 4px;
  color: rgb(255, 255, 255);
}

.qty i {
  margin-top: 4px;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
}

.description {
  margin-top: 10px;
}

.description p {
  font-size: 11px;
  color: #fff;
}

.last_section {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.last_section button {
  height: 40px;
  width: 100%;
  background-color: #b50f26;
  font-size: 12px;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.5s;
}

.last_section button:hover {
  background-color: #101030;
}

.heart {
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgb(206, 179, 13);
}
.positionHeart {
  display: flex;
  justify-content: space-between;
}
.heart i {
  margin-top: 4px;
  margin-left: 1px;
  font-weight: 800;
  cursor: pointer;
  transition: all 0.5s;
}

.fa-heart {
  color: red;
  font-weight: 800;
}

@media screen and (max-width: 7680px), (min-width: 7680px) {
  .container {
    width: 19%;
    margin: 1%;
    padding: 1%;
  }
}

/* size of UHD */

/* all sizes * 2 برااساس درصد افزایش پیدا کنه */

@media screen and (max-width: 3840px) {
  .container {
    width: 19%;
    margin: 1%;
    padding: 1%;
  }
}

/* size of FULL HD*/

@media screen and (max-width: 1920px) {
  .container {
    width: 19%;
    margin: 1%;
    padding: 1%;
  }
}

/* size of Laptop HD */

@media screen and (min-width: 1366.1px) {
  .container {
    width: 300px;
    margin: 1%;
    padding: 1%;
  }
}
/* size of iPad Landscape */

@media screen and (min-width: 1112px) {
  .container {
    width: 280px;
    margin: 1%;
    padding: 1%;
  }
}

/* size of iPad Portrait */

@media screen and (max-width: 835px) {
  .container {
    width: 45%;
    margin: 1%;
    padding: 1%;
  }
}

/* size of iPhone */

@media screen and (max-width: 480px) {
  .container {
    width: 95%;
    margin: 1%;
    padding: 1%;
  }
}
